---
import { cn } from '@/lib/utils'
import Link from './Link.astro'
import { Button, buttonVariants } from './ui/button'

const { title, description, cta, href } = Astro.props
---

<div class="mx-auto max-w-xl px-6 py-12 text-center">
  <h1 class="mb-2 text-4xl leading-tight font-medium text-pretty sm:text-5xl">
    {title}
  </h1>
  <p class="mb-6 text-gray-700">{description}</p>
  {
    href ? (
      <Link href={href} external class={cn(buttonVariants(), 'px-6 py-3')}>
        {cta}
      </Link>
    ) : (
      <Button className="px-6 py-3">{cta}</Button>
    )
  }
</div>
